.outer{
    transform: translate(-50%, -50%);
    border-style: solid;
    height: 300px;
    width:300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 50%;
}
.display{
    margin-bottom:4px;
    resize: none;
    background-color:black;
    flex-grow: 2;
    text-align: right;
    padding: 20px 8px;
    color:lightgray;
}
.equal{
    width: calc(100% - 4px);
    margin: 0 auto;
    display: block;

}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.individual{
    margin: 2px;
    width: 80px;
    height: 50px;
}
.AC{
    background-color:black;
    color:lightgray;
    border-style: none;
}
